
<div style="text-align:center">
  <h1>
    Registro de productos
  </h1>
<h2>Nuevo Producto </h2>
<div class="contenedor">
  <form (ngSubmit)="add()">
    <div class="form-row">
      <div class="col-auto">
          <input 
          autofocus
            type="text" 
            class="form-control" 
            placeholder="Código"
            id="codigo"
            [(ngModel)]="model.codigo"
            name="codigo">
      </div>
      <div class="col-auto">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Descripción"
          id="descripcion"
          [(ngModel)]="model.descripcion"
          name="descripcion">
      </div>
      <div class="col-auto">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Precio"
          id="precio"
          [(ngModel)]="model.precio"
          name="precio">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success">Añadir Producto</button>
      </div>
    </div>
  </form>
  <div *ngIf="(productos )?.length!=0">
    <br>
    <button class="btn btn-primary" (click)="deleteAll()">Borrar todos los productos</button>
    <br>
    <table class="table" style="margin:auto">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>Código</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of productos.reverse()">
          <td><span>{{ t.id }}</span></td>
          <td><span>{{ t.codigo }}</span></td>
          <td><span>{{ t.descripcion }}</span></td>
          <td><span>{{ t.precio }}</span></td>
          <td style="text-align:center"><button class="btn btn-danger" (click)="deleteOne(t)">Borrar</button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
</div>


<router-outlet></router-outlet>
